@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ysabeau+Infant:wght@1&display=swap');


.contactcontent{
    display:flex;
    flex-direction: column;
    gap: 10px;
  }

  h1{
    font-size: 3rem;
    font-family:"Open+Sans";
    font-style: italic;
  }