
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ysabeau+Infant:wght@1&display=swap');

.heading{
    font-family:"Open+Sans";
    font-style: italic;
    text-align: center;
}

.image{
    width:30rem;
    height:30rem;
}
